<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data</title>
</head>
<body>
    <h1>Form Data</h1>
    <hr/>
    <p>name = <b>{{name}}</b></p>
    <p>password = <b>{{password}}</b></p>
    <p>address = <b>{{address}}</b></p>
    <p>city = <b>{{city}}</b></p>
    <p>gender = <b>{{gender}}</b></p>
    <p>Vehicle = <b>{{Vehicle}}</b></p>
    <p>Salary = <b>{{Salary}}</b></p>
    <p>dateOfBirth = <b>{{dateOfBirth}}</b></p>
    
    
</body>
</html>